<div>
	<%= form_tag "/client/recipes", method: :get do %>
		<input type="text" name="search">
		<input type="submit" value="Search a Title">
	<% end %>
</div>


<div class="row">

	<% @recipes.each do |recipe| %>
		<div class="card col-md-4 col-xs-12">
		  <img class="card-img-top" src="<%= recipe["image_url"] %>" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title"><%= recipe['title'] %></h5>
		    <p class="card-text">Chef: <%= recipe['chef_name'] %></p>
		    <a href="/client/recipes/<%= recipe['id']%>" class="btn btn-primary">View Recipe</a>
		  </div>
		</div>
	<% end %>

</div>