
<div>
	<%= form_tag "/client/recipes", method: :get do %>
		<input type="text" name="search">
		<input type="submit" value="Search a Title">
	<% end %>
</div>

<% @recipes.each do |recipe| %>
	<h2><a href="/client/recipes/<%= recipe['id']%>">Title: <%= recipe['title'] %></a></h2>
	<h3>Chef: <%= recipe['chef_name'] %></h2>
	<img src="<%= recipe["image_url"] %>"><br>
<% end %>